{% extends 'base.html' %}
{% block content %}

    
<form  action="/auth/register/" method="post" style="width: 30%; margin : 20px;">
    {%csrf_token%}
    <div class="form-group">
        <label>Username</label>
        <input type="text" class="form-control" placeholder="Enter Username" name="username" !required>
    </div>
    <div class="form-group">
        <label>Email</label>
        <input type="email" class="form-control" placeholder="Enter email" name="email" !required>
    </div>
    <div class="form-group">
        <label>First Name</label>
        <input type="text" class="form-control" placeholder="Enter First Name" name="f_name">
    </div>
    <div class="form-group">
        <label>Last Name</label>
        <input type="text" class="form-control" placeholder="Enter Last Name" name="l_name">
    </div>
    <div class="form-group">
        <label>Password</label>
        <input type="password" class="form-control" placeholder="Enter Password" name="password1" !required>
    </div>
    <div class="form-group">
        <label>Confirm Password</label>
        <input type="password" class="form-control" placeholder="Enter Confirm Password" name="password2" !required>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

    
{% endblock content %}